html {
    height: 99%;
  }  

body {
    display: grid;
    place-items: center;
    height: 100%;
}

img {
    height: 400px;
    width: 400px;
    object-fit: contain;
}

button {
    padding: 10px 20px;
    background: lightblue;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    margin-top: -460px;
}