body {
    background: #1c1c1c;
    height: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    height: 100px;
    width: 100px;
    font-size: 45px;
    border-radius: 20px;
    border: none;
    margin: 10px;
}

#result {
    color: white;
    width: 280px;
    font-size: 30px;
    text-align: center;
}
